
.cardWrapper {
  //width: 300px;
  height: auto;
  background-color: white;
  border-radius: 16px;
}

.imageContainer {
  position: relative;
  width: 100%;
  //width: 300px;
  height: 200px;

}

.image {
  border-radius: 16px 16px 0 0;
}

.bottomWrapper {
  padding: 24px;
}

.title {

}
