@import "@/../src/app/mixins";

.cardWrapper {
  height: auto;
  background-color: white;
  border-radius: 16px;
  cursor: pointer;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 200px;

}

.image {
  border-radius: 16px 16px 0 0;
}

.bottomWrapper {
  padding: 24px;
}

.title {
  padding: 12px 0;

  @include font(18px, 130%, 800);
}

.cardRow {
  display: flex;

  @include font(16px, 130%, 400);

  &Title {
    margin-right: 4px;

    @include font(16px, 130%, 600);
  }
}


@include to768 {
  .imageContainer {
    width: 400px;
  }
}


@include to540 {
  .imageContainer {
    width: 80vw;
  }
}
